nav {
  background: rgba(255, 255, 255, 0.4);
  padding: 14px 48px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  a:not(:first-child) {
    margin-left: 30px;
  }
}

h2 {
  letter-spacing: 1.5px;
}

body {
  overflow-x: hidden;
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 80px;
  }
}

section {
  min-height: calc(100vh - 80px);
}

.social-network-responsive {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    height: 45px;
  }
}

.pipes-img {
  left: 600px;
  position: absolute;
  top: -70px;

  mix-blend-mode: exclusion;

  @media (max-width: 768px) {
    left: inherit;
    right: 20px;
    width: 160px;
  }
}

.portfolio-row {
  margin-bottom: 35px;
  width: 100%;

  img,
  p {
    padding: 20px;

    @media (max-width: 768px) {
      padding: 2px;
    }
  }

  img {
    max-width: 33%;
    width: 350px;
  }

  p {
    max-width: 66%;

    @media (max-width: 768px) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.left-fixed-text {
  left: -70px;
  position: absolute;
  top: 50%;
}

.left-fixed-img {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ye-text {
  display: block;
  height: 50%;
  position: absolute;
  right: 0px;
  top: -25px;
  z-index: 2;

  img {
    max-height: 100%;
  }

  @media(max-width: 768px) {
    height: 150px;
    top: -25px;
  }
}

.hero {
  position: relative;
}

.ah-text {
  bottom: -25px;
  display: block;
  left: 0;
  position: absolute;
  z-index: 1;

  img {
    max-height: 100%;
  }

  @media(max-width: 768px) {
    bottom: 120px;
    height: 160px;
  }
}

.main-section {
  padding: 0 80px;
  position: relative;
  text-align: center;
  overflow-x: hidden;
  height: calc(100vh - 130px);

  .we-create-sweet {
    margin: 0 auto;
    margin-top: 80px;
  }

  .left-fixed-img {
    top: calc(50% - 40px);
  }

  .cover-description {
    bottom: 20px;
    position: absolute;
    right: 70px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    height: auto;
    min-height: inherit;
    padding: 0;
  }

  .main-section-bg {
    height: 100%;
    overflow: hidden;

    .main-section-bg-item {
      height: 100%;
      left: -10% !important;
      width: 120%;

      &:last-child {
        bottom: -250px !important;
        top: inherit !important;

        @media (max-width: 768px) {
          bottom: -10px !important;
          top: inherit !important;
          width: 120%;
          height: 270px;
        }
      }

      &:first-child {
        top: -40px !important;

        @media (max-width: 768px) {
          top: -20px !important;
        }
      }
    }

    @media (max-width: 768px) {
      margin-left: 70px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.intro-text {
  bottom: 80px;
  position: absolute;
  right: 140px;
  width: 30%;
}

.logo-section {
  overflow-x: hidden;
  position: relative;
  height: 100vh;

  .logo {
    max-width: 100%;
    width: 450px;

    @media (max-width: 768px) {
      max-width: inherit;
      width: 639px;
    }
  }

  @media (max-width: 768px) {
    margin: 20px auto;
  }
}

.about-section {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  height: 100vh;

  .bang-row {
    margin-right: -70px;
  }

  .what-we-do-link {
    border-bottom: 2px solid black;
  }

  .cross-img {
    align-self: center;
    margin-top: 40px;
  }

  .image-wrapper {
    position: relative;

    span {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .what-we-do-mobile {
    margin-top: 30px;
  }

  .about-section-description {
    padding-right: 80px;

    .really-great {
      max-width: 200px;
      text-align: right;
      background-image: url('../assets/yellow_rect.svg');
      background-repeat: no-repeat;
      background-position: top right;

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 3px;
        align-self: center;
        max-width: 230px;
      }
    }

    .will-like-you {
      max-width: 280px;
      text-align: right;
    }

    @media (max-width: 768px) {
      padding: 20px;
    }
  }

  .about-section-caption {
    left: calc(50% - 60px);
    letter-spacing: 4px;
    line-height: 34px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .about-section-img {
    font-size: 0;
    font-size: 0;
    position: relative;
    width: 80%;

    img {
      max-width: 100%;
    }

    img:nth-child(2) {
      bottom: 0;
      max-height: 85vh;
      position: absolute;
      right: 0;
      transform: translateX(50%);
    }

    img:first-child {
      bottom: 0;
      position: absolute;
      right: -60px;
    }
  }

  .we-will-like-you-row {
    align-items: flex-end;
    margin-bottom: 75px;
    position: relative;

    .will-like-you {
      margin-right: 20px;
    }

    .feet-img {
      margin-right: -80px;
    }

    .bang-img {
      bottom: -50px;
      margin-bottom: 0;
      position: absolute;
      right: 90px;
    }
  }

  .we-believe {
    font-size: 40px;
    line-height: 40px;
    max-width: 560px;
    text-align: right;
    letter-spacing: 1.5px;

    @media (max-width: 768px) {
      font-size: 25px;
      line-height: 25px;
      max-width: 90%;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.max-width-11 {
  max-width: 65%;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 10px 30px;
  }
}

.bottom-links {
  position: absolute;
  bottom: 50px;
  right: 60px;
}

.product-section,
.branding-section,
.digital-section {
  .max-width-11 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
  }

  .links-wrapper {
    margin-right: 80px;
  }

  @media (max-width: 768px) {
    .max-width-11 {
      align-items: flex-end;
      flex-direction: column;
      letter-spacing: 1.5px;
      max-width: inherit;
      padding-right: 30px;
      position: relative;
      width: 100%;
    }

    .links-wrapper {
      display: block;
      flex: inherit;
      left: 80px;
      position: absolute;
      top: -50px;
      margin-right: 0;
    }

    .active-link.white,
    .active-link.black {
      border: none;
      font-size: 20px;
      font-weight: bold;
      line-height: 18px;
      margin: 0;
      max-width: 100px;
      padding: 0;
      text-decoration: none;
      border-bottom: none;
    }

    .sec-description {
      flex: inherit;
      width: 200px;
    }
  }
}

.product-section {
  background-image: url('../assets/ps_2_shapes.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.branding-section {
  background-image: url('../assets/bd_1_img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .bottom-links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    mix-blend-mode: exclusion;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.digital-section {
  background-image: url('../assets/digital_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-section {
  background-image: url('../assets/contact_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -25px;

  @media (max-width: 768px) {
    .max-width-11 {
      width: 100%;
    }
  }
}

.projects-section {
  padding-bottom: 50px;
  padding-top: 50px;

  .project-name {
    align-self: flex-start;
    margin-left: -20px;
  }

  .max-width-11 {
    max-width: 90%;
  }

  .project-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: row;

    .project-desc {
      min-height: 370px;

      @media (max-width: 768px) {
        align-items: flex-end;
        margin-top: -20px;
        min-height: inherit;

        .column {
          align-items: flex-end;
        }

        span {
          text-align: right;
        }
      }
    }

    &:first-child {
      img {
        margin-right: 30px;

        @media (max-width: 768px) {
          margin-right: 0;
          max-width: 100%;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    background: none;
    min-height: inherit;

    .project-link {
      margin-top: 20px;
    }
  }
}

footer {
  background-color: $black;
  color: $darkgray;
  font-size: 14px;
  min-height: 75px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 50px 10px;
  }
}

.active-link {
  padding-right: 30px;

  &.white {
    border-bottom: 3px solid #FFF;
  }

  &.black {
    border-bottom: 3px solid black;
  }
}

.branding-cool {
  left: 60px;
  position: ABSOLUTE;
  top: -130px;

  mix-blend-mode: exclusion;
}

.branding-stuff {
  bottom: -130px;
  //mix-blend-mode: exclusion;
  position: ABSOLUTE;
  right: 60px;
  z-index: 1;
}
// Hi hi-section

.hi-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    align-items: flex-start;
    min-height: inherit;
  }

  .hi-bg {
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @media (max-width: 768px) {
      left: -10px;
      right: inherit;
    }
  }

  .staff-pics {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

    img {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 768px) {
      top: 50%;

      img {
        height: auto;
        width: 80px;
      }
    }
  }

  .portfolio-section {
    .max-width-11 {
      @media (max-width: 768px) {
        padding: 10px;
      }
    }

    h2 {
      letter-spacing: 1.5px;
    }
  }

  .max-width-11 {
    @media (max-width: 768px) {
      max-width: 270px;
      padding: 150px 0;
      padding-left: 20px;
      padding-right: 40px;
      padding-top: 170px;
      width: 80%;
      z-index: 1;
    }
  }

  .hi-friend {
    left: 20px;
    position: absolute;
    top: 0;

    @media (max-width: 768px) {
      left: 50px;
      top: 40px;
      width: 150px;
    }
  }

  .first-co {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media (max-width: 768px) {
      bottom: 30px;
      right: 20px;
      top: inherit;
      transform: none;
      width: 220px;
    }
  }

  .ef-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    @media (max-width: 768px) {
      bottom: 0;
      right: 20px;
      transform: none;
      width: 120px;
    }
  }
}
// footer

.social-networks-wrapper {
  margin-right: 80px;
  position: relative;

  .rectangle-black {
    max-width: 100%;
  }

  .social-networks {
    left: 20px;
    position: absolute;
    top: 20px;
  }

  .logo {
    bottom: 40px;
    position: absolute;
    right: 20px;
  }
}

form input,
form select,
form textarea {
  background: none;
  border-bottom: 1px solid #C4C4C4;
  color: #5F5F5F;
  font-size: 14px;
  height: 30px;
  padding: 0 10px;
  resize: none;
}

form textarea {
  height: 40px;
}

.drop-us-wrapper {
  display: flex;
  flex-direction: column;


  .drop-us {
    font-size: 23px;
    line-height: 23px;
    width: 100%;
  }

  .amigo {
    align-self: flex-end;
  }

}

.submit-button {
  background-color: #FFFE60;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  color: #000;
  font-family: 'Gotham Medium';
  font-size: 24px;
  height: 55px;
  letter-spacing: 25.33px;
  line-height: 24px;
}
// Opacity
@for $i from 0 through 10 {
  .opacity-#{$i} {
    opacity: #{$i * 0.1};
  }
}
